// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  // background-color: #004d00;
}

body {
  padding: 0;
  // background-color: #004d00 !important;
}
.error{
  color: red;
}

.container{
  background-color: white !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-header{
  background: #f8f8f8;
}

.menu-holder{
  .navbar-nav {
    background-color: #f8f8f8;
    li > div {
    }
    &.nav li{
      &.active{
        a{
          color: #555;
        }
      }
    }
    &.nav a{
      color: black;
      &:hover{
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.nav > li {
  a {
    display: block;
    padding: 5px 31px !important;
    position: relative;
    line-height: 40px;
  }
  .logout{
    a{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}
.btnGuardar{
  margin-top:10px;
}
.menu-space{
  height: 116px;
}

.fb-picture{
  border-radius: 23px;
}

.no-padding-left{
  padding-left: 0px;
}

.no-padding-right{
  padding-right: 0px;
}

.navbar-brand{
  padding-top: 3px;
}

.navbar-brand > img {
    width: 55px;
    background-color:#f8f8f8;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form,.navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    background-color:#f8f8f8;
}

.modal { 
position: fixed; 
top: 3%; 
right: 3%; 
left: 3%; 
bottom: 3%; 
width: auto; 
margin: 0; 
}
.modal-body { 
height: 60%; 
}
.modal-body { 
max-height: 350px; 
padding: 15px; 
overflow-y: auto; 
-webkit-overflow-scrolling: touch; 
}
.modal-body form div{ 
  margin: 5px 0;

}
.modal-body form div.chosen-container{
  margin:0;
}
.modal-header,.modal-header .modal-body{
  padding:0;
}
.modal-header h4{
  text-align:center;
}
.modal-header.modal-grupo .title-page.active{
  background-color:#ffffff;
  color:green;
  font-weight:bold;
}
.modal-header.modal-grupo .title-page:hover{
  font-weight:bold;

}

.modal-header.modal-grupo .title-page{
  background-color:#e5e5e5;
  color: gray;
  font-weight: normal;
}

.modal-header button{
  padding:5px;
}
.displayModalLogin{
  display: block !important;
}

.pantalla-partidos{

  .muestra-partido{
    .nombre-equipo{
      width: 100px;
      display: inline-block;
      text-align: center;
    }
    .campo-marcador{
      width: 45px !important;
      display: inline-block;
      text-align: center;
    }
    .titulo-linea{
      width: 100px;
      display: inline-block;
      text-decoration: underline;
    }
  }

  .linea-divisoria-hoy{
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    text-align: center;
  }

  .partido{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
  }

  .row-par{
    background-color: #f8f8f8;
  }
  .encabezado-tabla{
    color:#ffffff;
    background-color:black;
    font-size:20px;
  }

  .guardar-link{
    &:hover{
      text-decoration:underline;
      cursor: pointer;
    }
  }
}

.title-page{
  font-size: 20px;
  padding: 14px;
  color: green;
}

.configuracion{
  &>div{
    margin-bottom: 15px;
    &>input{
      width: 75%;
    }
  }
}

.invitacion-cont{
  padding-left: 12px;
  span{
    border: 1px solid black;
    padding: 4px 4px 4px 5px;
    border-radius: 13px;
    margin-left: 24px;
    cursor: pointer;
  }
  &:hover{
    text-decoration: underline;
  }
}
.icono-orden{
  outline: none;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  display: inline-block;
}

.icono-orden.Desc{
  background-image: url("../images/downArrow.png");
}
.icono-orden.Asc{
  background-image: url("../images/upArrow.png");
}
/*** Start Estilos Torneo ***/
.pantalla-partidos .partido .torneo-titulo-prin{
  text-align: center;
}
.pantalla-partidos .partido .plus-icon-prin{
  text-align: center;
}
 .plus-icon-prin a i{
  color: gray;
}
.btn-agregar-torneo{
  padding: 2px 10px;
}
.search-torneo{
  width:70%;
}
.search-torneo-container{
  margin-bottom:10px;
}
.txt-add-torneo{
  width:100%;
}
.btn-agregar-torneo{
  text-align:center;
}
/*** End Estilos Torneo ***/

.navbar{
  .container{
    background: #f8f8f8 !important;
  }
}

.nav .login-info{
  padding: 0 20px;
  text-align: center;
  p{
    margin: 0;
  }
  a{
    line-height:19px;
  }
}

.login-action{
  padding: 15px 16px !important;
}


.home-page{
    background: transparent !important;
    position: relative;
    color: white;
}
.bg-image{
    position: absolute;
    width: 100%;
    min-height: 100%;
}
.not-logged{
  float: right;
}

.home-page >* {
    margin-top: 53px;
}

.divisor-line{
  border-right: 1px solid black;
  input{
    margin-bottom: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 768px){
  .container {
      max-width: 814px !important;
  }
}

.user-name-display{
  padding-top: 16px;
}
.log-out-no-fb{
  padding-top: 11px;
}

.add-partido{
  width: 36px;
  border: 1px solid black;
  border-radius: 18px;
  padding-left: 6px;
  font-size: 23px;
  padding-top: 2px;
}

.chosen-container {
  width: 120px !important;
}

.modal-content{
  .modal-body {
    overflow-y: initial;
  }
}

.partido-row{
  margin-top: 15px;
}

.date-picker-input{
  width: 97px !important;
}

.add-equipo{
  font-size: 17px;
  font-weight: bold;
  border: 1px solid;
  margin-left: 15px;
  padding-left: 7px;
  border-radius: 21px;
  padding-right: 17px;
  line-height: 1;
  padding-bottom: 5px;
}

.agregar-equipo-cont{
    margin-left: 14px;
    margin-top: 14px;
}

@media (max-width: 768px) {
  body{
    font-size: 20px;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 9000;
    .navbar {
      margin-bottom: 1px;
    }
    .navbar-default {
      border-color: transparent;
    }
  }
  .dropdown-menu-left{
    left: -118px !important;
  }
  .modal-body {
    max-height: 400px;
  }
  .modal {
    top: 11%;
    z-index: 9999;
  }
  .view-display{
    margin-top:60px;
  }
  .bg-image {
    margin-top: 55px;
  }
  .divisor-line{
    border-right:none;
  }
  #nuevoUsuario{
    margin-bottom: 9px;
  }
  #entrarForm{
    margin-bottom: 15px;
  }
  .fecha{
    text-align: center;
    margin-bottom: 9px;
  }
  .guardar-icon{
    font-size: 28px;
    margin-left: 14px;
  }
}

