<div class="header">
  <div class="navbar  navbar-default" role="navigation">
    <div class="container homepage no-padding-left no-padding-right">
      <div class="navbar-header">
        <button type="button" class="second-collapse navbar-toggle collapsed " ng-class="isAuthenticated==true? '':'hidden-xs'" data-toggle="collapse" data-target="#js-navbar-collapse-second" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><img src="images/quinielagalactica.png"></a>
      </div>

      <div class="collapse navbar-collapse col-xs-12 not-logged" id="js-navbar-collapse-second" aria-expanded="false">
        <div class="menu-holder">
			<ul class="nav navbar-nav" ng-if="visible">
		      <li ng-class="{'active': home }" ><a href="#/home">Partidos</a></li>
		      <li ng-class="{'active': torneos }" ><a ng-href="#/torneos">Torneos</a></li>
		      <li ng-class="{'active': grupos }" ><a ng-href="#/grupos">Grupos</a></li>
		      <li ng-class="{'active': configuracion }" ><a ng-href="#/configuracion">Configuración</a></li>
		      <li class="login-info">
		      	<div ng-if="isAuthenticated == true">
				    <p ng-if="isFacebookAuth" class="col-xs-6 user-name-display">{{user.nombre}}</p>
		        <p ng-if="isFacebookAuth == false" class="col-xs-6 user-name-display">{{user.usuario}}</p>
				    <div class="col-xs-5 no-padding-left no-padding-right">
				    	<div class="col-xs-12 no-padding-left" ng-if="isFacebookAuth == true">
				    		<div><img class="fb-picture" src="http://graph.facebook.com/{{user.usuario}}/picture"/></div>
				    	</div>
				    </div>
		        <div class="logout no-padding-left no-padding-right" ng-class="isFacebookAuth == true ? 'col-xs-12' : 'col-xs-6 log-out-no-fb' ">
		          <a data-ng-disabled="!facebookReady" data-ng-click="logoutBoth()">Salir</a>
		        </div>
				</div>
				<div ng-if="isAuthenticated == false" class="login-action">
		      		<a ng-click="showLogin()">Entrar</a>
				</div>
		      </li>
			</ul>
		  <div ng-if="visible == false" class="login-action col-xs-12 hidden-xs">
		    <a class="col-md-4 col-xs-12" ng-click="showLogin()">Entrar</a>
		    <a class="col-md-8 col-xs-12" ng-click="showLogup()">Nuevo Usuario</a>
		  </div>
		</div>
      </div>
    </div>
  </div>
</div>
<div class="home-page col-xs-12">
	<h1>Bienvenido a Quiniela Galactica</h1>

		  <ul ng-if="visible == false" class="nav navbar-nav hidden-md hidden-lg hidden-sm">
		  	  <li class="col-md-4 col-xs-1"></li>
		      <li ><input type="submit" class="  col-md-4 col-xs-4 btn btn-default btnVerde" ng-click="showLogin()" value="Entrar"></li>
		      <li class="col-md-4 col-xs-2"></li>
		      <li ><input type="button" class="btnVerde col-md-8 col-xs-4 btn btn-default" ng-click="showLogup()" value="Nuevo Usuario"></li>
		      <li class="col-md-4 col-xs-1"></li>
		  </ul>
	<p ng-if="tipoApp == false">Descarga la applicación para tu dispositivo Android <a href="https://play.google.com/store/apps/details?id=com.quinielagalactica.echo" target="_blank">aquí</a></p>
	<p>Entra y diviértete con tus amigos prediciendo los marcadores de los campeonatos de fútbol más populares del mundo.</p>
	<p>Crea grupos con tus amigos y lleva control de quién va ganando</p>

	<modal display="displayLoginModal" elemento="loginModal" data-ng-click-right-button="myRightButton()">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title title-page">Entrar</h4>
	    </div>
	    <div class="modal-body col-xs-12">
	      <div class="col-md-12 col-xs-12">
	        <form name="loginForm" id="entrar-form" ng-submit="regularLogin(inputUser)">
	          <input type="text" name="input" placeholder="usuario" ng-model="inputUser.username" ng-trim="false" class="form-control" required>
	          <input type="password" name="input" placeholder="contraseña" ng-model="inputUser.password" ng-trim="false" class="form-control" required>
	          <p class="error">{{error}}</p>
	          <input type="submit" class="btn btn-default  btnVerde" value="Ingresar">
	        </form>
	      </div>
	      <!-- <div class="col-md-6 col-xs-12">
	        <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Entrar con Facebook</button>
	        <!-- <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
	      </div> -->
	    </div>
	</modal>
	<modal display="displayLogUpModal" elemento="logupModal" data-ng-click-right-button="myRightButton()">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Nuevo Usuario</h4>
	    </div>
	    <div class="modal-body col-xs-12">
	      <!-- <div class="col-md-6 divisor-line col-xs-12"> -->
	      <div class="col-xs-12">
	        <form name="myForm" id="nuevoUsuario" ng-submit="regularLogup(inputUser)">
	          <input type="text" name="input" ng-model="inputUser.username" ng-trim="false" placeholder="Username" class="form-control" required>
	          <input type="password" name="input" ng-model="inputUser.password" ng-trim="false" placeholder="Password" class="form-control" required>
	          <input type="password" name="input" ng-model="inputUser.confirmPassword" ng-trim="false" placeholder="Confirmar Password" class="form-control" required>
	          <input type="text" name="input" ng-model="inputUser.nombre" ng-trim="false" placeholder="Nombre" class="form-control">
	          <input type="text" name="input" ng-model="inputUser.apellido" ng-trim="false" placeholder="Apellido" class="form-control">
	          <input type="email" name="input" ng-model="inputUser.correo" ng-trim="false" placeholder="Correo" class="form-control">
	          <p class="error">{{errorLogUp}}</p>
	          <input type="submit" class="btn btn-default btnVerde" value="Crear">
	        </form>
	      </div>
	      <!-- <div class="col-md-6 no-padding-right col-xs-12">
	        <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLoginUp()">Entrar con Facebook</button>
	        <!-- <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button> 
	      </div> -->
	    </div>
	</modal>
</div>