<div class="configuracion col-xs-12 no-padding-left no-padding-right">
	<h1 class="title-page">Configuracion de Usuario</h1>
	<form name="configuracion" id="configuracion" ng-submit="actualizarUsuario()">
		<div class="col-xs-12 col-md-6">
			<p>Username</p>
			<input type="text" ng-model="usuario.usuario" disabled class="form-control">
		</div>
		<div class="col-xs-12 col-md-6">
			<p>Apellido de usuario</p>
			<input type="text" ng-model="usuario.apellido1" class="form-control">
		</div>
		<div class="col-xs-12 col-md-6">
			<p>Correo</p>
			<input type="email" ng-model="usuario.correo" class="form-control">
		</div>
		<div class="col-xs-12 col-md-6">
			<p>Nombre</p>
			<input type="text" ng-model="usuario.nombre" class="form-control">
		</div>
		<div class="col-xs-12 col-md-6" ng-if="isFacebookAuth == false">
			<p>Contraseña</p>
			<input type="password" ng-model="usuario.contrasenna" class="form-control">
		</div>
		<div class="col-xs-12 col-md-6">
			<p>Tipo</p>
			<input type="text" ng-model="usuario.tipo" disabled class="form-control">
		</div>
		<!-- <div class="col-xs-12 col-md-6">
			<p>Invitaciones</p>
			<div ng-repeat="invitacion in invitaciones" class="invitacion-cont">
				<p>{{invitacion.grupo}} <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="aceptarInvitacion(invitacion.id)"></span></p>
			</div>
			<div ng-hide="invitaciones.length">No tiene invitaciones pendientes</div>
		</div> -->
		<div class="col-md-offset-6 col-md-6 col-xs-12">	
			<div class="col-md-4 col-md-offset-2 col-xs-6">
				<input type="submit" class="btn btn-primary btn-blanco" value="Guardar">
			</div>
			<div class="col-md-6 col-xs-6">
				<input type="button" class="btn btn-primary btn-blanco" value="Cancelar" ng-click="cancelarUsuario()">
			</div>
		</div>
	</form>
</div>
