<div class="configuracion col-xs-12 no-padding-left no-padding-right">
	<p class="title-page">Configuracion de Usuario</p>
	<div class="col-xs-12 col-md-6">
		<p>Username</p>
		<input type="text" ng-model="usuario.usuario" disabled>
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Apellido de usuario</p>
		<input type="text" ng-model="usuario.apellido1">
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Correo</p>
		<input type="text" ng-model="usuario.correo">
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Equipo Favorito</p>
		<input type="text" ng-model="usuario.usuario">
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Nombre</p>
		<input type="text" ng-model="usuario.nombre">
	</div>
	<div class="col-xs-12 col-md-6" ng-if="isFacebookAuth == false">
		<p>Contraseña</p>
		<input type="password" ng-model="usuario.contrasenna">
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Tipo</p>
		<input type="text" ng-model="usuario.tipo" disabled>
	</div>
	<div class="col-xs-12 col-md-6">
		<p>Invitaciones</p>
		<div ng-repeat="invitacion in invitaciones" class="invitacion-cont">
			<p>{{invitacion.grupo}} <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="aceptarInvitacion(invitacion.id)"></span></p>
		</div>
		<div ng-hide="invitaciones.length">No tiene invitaciones pendientes</div>
	</div>
	<div class="col-xs-offset-6 col-xs-6">	
		<div class="col-xs-4 col-xs-offset-2">
			<button type="button" class="btn btn-primary" ng-click="actualizarUsuario()">Guardar</button>
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-link">Cancelar</button>
		</div>
	</div>
</div>
