<div class="col-xs-12 static-header no-padding-left no-padding-right pantalla-partidos">
  <div class="col-xs-10">
    <h3 class="title-page">Cómo Jugar?</h3>
  </div>
</div>
<div class="reglas-container">
    <div class="col-xs-12 pantalla-partidos no-padding-left no-padding-right tabla-pizarra torneos" style="
    color: white;
    padding-right: 38px;
">
        <ul>
          <li>
              Cuando aciertas un marcador obtienes 3 puntos.
          </li>
          <li>
              Cuando aciertas el resultado pero no el marcador obtienes 1 punto.
          </li>
          <li>
              Puedes crear grupos para jugar torneos con tus amigos, en "tablas".
          </li>
          <li>
              Cuando te agregas a un torneo automaticamente se te agrega a la tabla general del mismo.
          </li>
        </ul>
    </div>
</div>
