<div class="menu-holder" ng-if="visible">
	<ul class="nav navbar-nav">
      <li ng-class="{'active': home }"><a href="#/">Partidos</a></li>
      <li ng-class="{'active': about }"><a ng-href="#/about">Torneos</a></li>
      <li ng-class="{'active': about }"><a ng-href="#/about">Grupos</a></li>
      <li ng-class="{'active': configuracion }"><a ng-href="#/configuracion">Configuración</a></li>
      <li class="login-info">
      	<div ng-if="isAuthenticated == true">
		    <p>{{user.usuario}}</p>
		    <div class="col-xs-12 no-padding-left no-padding-right">
		    	<div class="col-xs-6 no-padding-left" ng-if="isFacebookAuth">
		    		<div><img class="fb-picture" src="http://graph.facebook.com/{{user.fbId}}/picture"/></div>
		    	</div>
		    	<div class="col-xs-12 logout no-padding-left no-padding-right" ng-class="{'col-xs-6': isFacebookAuth}">
		    		<a data-ng-disabled="!facebookReady" data-ng-click="logoutBoth()">Log Out</a>
		    	</div>
		    </div>
		</div>
		<div ng-if="isAuthenticated == false" class="login-action">
      		<a ng-click="showLogin()">Login</a>
		</div>
      </li>
	</ul>
</div>

<modal display="displayLoginModal" elemento="loginModal" data-ng-click-right-button="myRightButton()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
    </div>
    <div class="modal-body col-xs-12">
      <div class="col-xs-6">
        <form name="myForm">
          <input type="text" name="input" ng-model="inputUser.username" ng-trim="false">
          <input type="text" name="input" ng-model="inputUser.password" ng-trim="false">
          <button ng-click="regularLogin(inputUser)">ingresar</button>
        </form>
      </div>
      <div class="col-xs-6 no-padding-left no-padding-right">
        <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
        <!-- <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button> -->
      </div>
    </div>
</modal>