<div class="col-xs-12 static-header no-padding-left no-padding-right pantalla-partidos">
  <div class="col-xs-10">
    <h3 class="title-page">Torneos</h3>
  </div>
  <div class="col-xs-2 no-padding-left no-padding-right add-partido">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="addTorneo()"></span>
  </div>
</div>
<div class="torneos-container">
    <div class="col-xs-12 pantalla-partidos no-padding-left no-padding-right tabla-pizarra torneos">
        <h3 ng-if="torneosUsuario.length<=0"  class="title-page">Debe agregar almenos un torneo</h3>
        <div class="partido col-xs-12 no-padding-right no-padding-left" ng-repeat="torneoUsuario in torneosUsuario">
           <div class=" col-xs-9 no-padding-left no-padding-right">
             <p id="{{torneoUsuario.id}}" class="torneo-titulo-prin">{{torneoUsuario.torneo}}</p>
           </div>
           <div class=" col-xs-3 no-padding-left no-padding-right">
             <p class="plus-icon-prin"><a><i class="glyphicon glyphicon-minus gray" ng-click="delTorneo(torneoUsuario.id)"></i></a></p>
           </div>
	      </div>
    </div>
</div>

<modal display="showAgregarTorneo" elemento="modalAgregarTorneo">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Agregar Torneos Admin</h4>
 </div>
 <div class="modal-body col-xs-12">
   <div class="col-xs-12 col-md-12 search-torneo-container">   
      <div class="col-xs-8 col-md-9">
        <input class="txt-add-torneo" type="text" ng-model="torneo" placeholder="Nombre" required>
      </div>
      <div class="col-xs-2 col-md-3">
        <input class="btn-agregar-torneo btn btn-success" type="button" value="Agregar" ng-click="addTorneoAdmin(torneo)">
      </div>
   </div>
 </div>
</modal>

<modal display="showAgregarTorneoUsuario" elemento="modalAgregarTorneoUsuario">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Agregar Torneos Usuario</h4>
 </div>
 <div class="modal-body col-xs-12">
   <div class="col-xs-12 search-torneo-container">   
    <div class="form-group has-feedback">
        <input type="text" class="form-control search-torneo" ng-model="search.nombre" placeholder="Buscar" />
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
   </div>
   <div class="partido col-xs-12 pantalla-partidos" ng-repeat="torneoUsuario in torneosUsuarioGlobal | filter:search.nombre">
       <div class=" col-xs-12 no-padding-left no-padding-right">
         <p id="{{torneoUsuario.id}}" class="torneo-titulo-prin col-xs-9">{{torneoUsuario.torneo}}</p>
        <p class="col-xs-3 plus-icon-prin"><a><i class="glyphicon glyphicon-plus gray" ng-click="addTorneoUsuario(torneoUsuario)"></i></a></p>
     </div>
   </div>  
 </div>
</modal>
